<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>App User Database</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="admin/dashboard">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Member Management</a></li>
                </ol>
            </div>
        </div>

        <!-- Main Content -->
        <div class="card">
            <div class="card-header">
                <div class="col-6">
                    List of all app users
                </div>
                
                <p class="fs-10 text-muted">Total number of users: <b>{{userCount}}</b></p>

            </div>
           
            <div class="card-body">

                <div class="table-responsive">
                    <table datatable class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Profile Picture</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Joining Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of appUsers; index as i">
                        <!-- <th scope="row">{{ i + 1 }}</th>		 -->
                        <td>
                            <div class="symbol symbol-50px me-5">
                                <img src="{{user.profilePicture}}" style="width:50%;" alt="profile pic" />
                            </div>
                        </td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.joinDate | date:'mediumDate'}}</td>
                        <td>
                            <span *ngIf="user.userStatus === false" class="badge badge-danger">Inactive</span>
                            <span *ngIf="user.userStatus === true" class="badge badge-success">Active</span>
                        </td>
                        <td>
                            <button type="button" [disabled]="user.userStatus === true" class="btn btn-sm btn-success" (click)="reviewModal(activateUser, user)">Activate</button>
                            <button type="button" [disabled]="user.userStatus === false" class="btn btn-sm btn-danger" (click)="reviewModal(deactivateUser, user)">Deactivate</button>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
               
            </div>
        </div>
      
	</div>
</div>

<!-- Modals -->
<ng-template #activateUser let-modal>
    <div class="modal-header alert alert-success">
      <h4 class="modal-title" id="modal-del-title">Activate User</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body default-calendar">
      <form #activationForm="ngForm">        
        <input type="hidden" name="id" ngModel="{{userModalData?.id}}" value="{{userModalData?.id}}">
        <p>Are you sure you want to activate {{userModalData.name}}?</p>
      </form>

      <!-- message -->
      <div *ngIf="messageResponse" class="row alert alert-info">
        <p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" (click)="modal.close('Close click')">No</button>
        <button type="button" class="btn btn-sm btn-success" (click)="activateUserAction(activationForm.value)">Yes</button>
    </div>
  </ng-template>

  <ng-template #deactivateUser let-modal>
    <div class="modal-header alert alert-danger">
      <h4 class="modal-title" id="modal-del-title">Reject Member</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body default-calendar">
      <form #deactivationForm="ngForm">        
        <input type="hidden" name="id" ngModel="{{userModalData?.id}}" value="{{userModalData?.id}}">
        <p>Are you sure you want to deactivate {{userModalData.name}} as a member?</p>
      </form>

      <!-- message -->
      <div *ngIf="messageResponse" class="row alert alert-info">
        <p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
      </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" (click)="modal.close('Close click')">No</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="deactivateUserAction(deactivationForm.value)">Yes</button>
    </div>
  </ng-template>
    

    