/* Upload Image */
.image-upload > input
{
    display: none;
}

.cover-upload > input
{
    display: none;
}

.cover-upload {
    max-width: 100%;
}

.cover-upload img
{
    max-width: 160px;
    cursor: pointer;
}

.image-upload img
{
    max-width: 100px;
    cursor: pointer;
}

.loader {
    color: #9A1712;
    text-align: center;
}

.prog_prev {
    background-color:skyblue;
    color:white;
}
