<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Custom Form Management</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="admin/dashboard">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Custom Form Management</a></li>
                </ol>
            </div>
        </div>



        <!-- Main Content -->
        <div class="card">
            <div class="card-header">
                <div class="col-6">
                    Custom Forms
                </div>

                <div class="col-6">
                    <button class="btn btn-sm btn-primary rightBtns" type="button" (click)="addForms(addForm)">
                        <i class="fa fa-plus"></i>&nbsp;Add Custom Form
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Form Name</th>
                                <th scope="col">Form Description</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let customForm of customFormLists; index as i">

                                <td class="text text-capitalize">{{customForm.name}}</td>

                                <td>{{customForm.description}}</td>


                                <td>

                                    <div class="button_containers">
                                        <button type="button" class="btn btn-success btn-sm mg-b-0 " data-toggle="modal"
                                            (click)="openModal(editForm, customForm)"> <i class="fa fa-pencil"></i> Edit</button>

                                        <button type="button" class="btn btn-secondary btn-sm mg-b-0 ml-1"
                                            data-toggle="modal" (click)="openModalItems(addFormItem, customForm)"><i class="fa fa-plus"></i> Add
                                            form items</button>

                                        <button type="button" class="btn btn-info btn-sm mg-b-0 ml-1"
                                            data-toggle="modal"
                                            (click)=" openModal(preview,customForm)"><i class="fa fa-eye"></i> Preview</button>

                                        <button type="button" class="btn btn-danger btn-sm mg-b-0 ml-1"
                                            data-toggle="modal"
                                            (click)="openModal(deleteForm, customForm)"><i class="fa fa-trash"></i> Delete</button>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="customFormsCount == 0">
                                <td colspan="6" class="no_data_display">
                                    No data available for display
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
</div>


<ng-template #addForm let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Custom Form</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body default-calendar">
        <form [formGroup]="customForm" (ngSubmit)="saveCustomForm()">

            <div class="form-group row">
                <div class="col-5">
                    <label for="name">Name</label>
                </div>
                
                <div class="col-7">
                    <input type="text" class="form-control" formControlName="name" required
                        placeholder="Enter custom form name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5">
                    <label for="desc">Form Description</label>
                </div>
                
                <div class="col-7">
                    <textarea name="description" id="desc" class="form-control" cols="10" rows="3"
                    formControlName="description" placeholder="Briefly describe the purpose of the form"></textarea>
                </div>
            </div>
            
             <!-- message -->
            <div *ngIf="messageResponse" class="row alert alert-info">
                <p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
            </div>        
            <div *ngIf="alertResponse" class="row alert alert-danger">
                <p><i class="fa fa-exclamation"></i> &nbsp;  {{alertResponse}}</p>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="modal.dismiss()">Close</button>
            </div>
        </form>

    </div>
</ng-template>

<!-- edit custom form -->
<ng-template #editForm let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Custom Form</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row row-sm">
            <form #editForm="ngForm">
                <div class="form-group row">
                    <input type="hidden" class="form-control" name="id" ngModel="{{customModalData?.id}}"
                        value="{{customModalData?.id}}">
                        
                        <div class="col-5">
                            <label for="bk-name">Name</label>
                        </div>
                        <div class="col-7">
                            <input type="text" id="bk-name" class="form-control" name="name"
                                ngModel="{{customModalData?.name}}" value="{{customModalData?.name}}">
                        </div>
                </div>
                <div class="form-group row">

                    <div class="col-5">
                        <label for="bk-desc">Form Description</label>
                    </div>
                    <div class="col-7">
                        <input type="text" id="bk-desc" class="form-control" name="description"
                                ngModel="{{customModalData?.description}}" value="{{customModalData?.description}}">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn  btn-primary" (click)="updateCustomForm(editForm.value)">Save Changes</button>
                    <button type="button" class="btn  btn-secondary" (click)="modal.close('Save click')">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</ng-template>

<!-- delete custom form -->
<ng-template #deleteForm let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Custom Form</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body default-calendar">
        <form #deleteForm="ngForm">
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="hidden" name="id" ngModel="{{customModalData?.id}}" value="{{customModalData?.id}}">
                    <p>Are you sure you want to delete this form?</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-md" (click)="deleteCustomForm(deleteForm.value)"
                    data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary btn-md" (click)="modal.dismiss()">No</button>
            </div>
        </form>
    </div>
</ng-template>


<!-- preview form -->
<ng-template #preview let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{customModalData.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="items_count > 0" class="modal-body default-calendar">

        <form class="form">
            <div>
                <div class="form-group" *ngFor="let item of customFormItems">
                    <label for="">{{item.title}}</label>
                    <div>
                        <input *ngIf="item.value == ''" type="{{item.dataType}}" class="form-control"
                            placeholder="{{item.hint}}">
                        <select name="" id="" class="form-control" *ngIf="item.value != ''">
                            <option value="" selected disabled *ngIf="item.value !== ''">select {{item.title}}</option>
                            <option *ngFor="let value of item.value" value="">{{value.name}}</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-md">Submit</button>
            </div>
        </form>
    </div>
    <div *ngIf="items_count === 0" class="modal-body default-calendar">

        <form class="form">
            <div>
                <p class="">No form items added</p>

            </div>
           
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" (click)="openModalItems(addFormItem, customForm)"><i class="fa fa-plus"></i>Add Items</button>
            </div>
        </form>
    </div>

</ng-template>

<!-- add form items to custom forms -->
<ng-template #addFormItem let-modal>

    <div class="modal-header">
        <h4 class="modal-title text-capitalize" id="modal-basic-title">{{customModalData.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body default-calendar">
        <!-- <div class="card"> -->
        <div class="card-header pb-0">
            <div class="d-flex justify-content-between">
                <h4 class="card-title mg-b-0">Select item(s) by clicking on the checkbox(s)</h4>
                <!-- <a href="/churches/events/custom-form-items"> <button type="button"
                        class="btn btn-primary btn-space btnApp btn-sm">
                        <i class="fa fa-plus"></i> Add Item</button></a> -->

            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive" >
                <table datatable [dtOptions]="formOptions" [dtTrigger]="formTrigger" class="table table-striped" >
                    <thead>
                        <tr>
                            <th  scope="col">Name</th>
                            <th  scope="col">DataType</th>
                            <th  scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of customFormItemData">

                            <td class="text text-capitalize">{{item.title}}</td>
                            <td class="text text-capitalize">{{item.dataType}}</td>
                            <td>
                                <span>
                                    <!-- <input type="checkbox" [checked]="item.ischecked" #checkedItem name="formItem" value="{{item.id}}" (change)="selectItems(checkedItem.value, $event.target.checked)"/> -->
                                    <input type="checkbox" [checked]="item?.ischecked" #checkedItem name="formItem"
                                        value="{{item?.id}}" (change)="selectItems(checkedItem.value, $event.target)" />

                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-md mg-b-0" data-toggle="modal" (click)="assignFormItems()">
            save</button>
        <button type="button" class="btn btn-md  btn-secondary" (click)="modal.dismiss()">Cancel</button>
    </div>
</ng-template>