<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Business Ratings</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="admin/dashboard">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Business Management</a></li>
                </ol>
            </div>
        </div>

        <!-- Parameters -->
        <div class="row">
            <div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
                <div class="widget-stat card">
                    <div class="card-body p-4">
                        <div class="media ai-icon">
                            <span class="mr-3 bgl-primary text-primary">
                                <!-- <i class="ti-user"></i> -->
                                <svg id="icon-customers" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">Total Business Ratings</p>
                                <h4 class="mb-0">{{allRatingsCount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
                <div class="widget-stat card">
                    <div class="card-body p-4">
                        <div class="media ai-icon">
                            <span class="mr-3 bgl-warning text-warning">                    
                                <svg id="icon-orders" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">Ratings pending verification</p>
                                <h4 class="mb-0">{{pendingRatingsCount}}</h4> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="mr-3 bgl-success text-success">
                                <svg id="icon-database-widget" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database">
                                    <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                                    <path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path>
                                    <path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path>
                                </svg> 
                            </span>
                            <div class="media-body">
                                <p class="mb-1">Total number of Reviews</p>
                                <h4 class="mb-0">{{reviewCount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

        <!-- Main Content -->
        <div class="card">
            <div class="card-header">
                <div class="col-6">
                    List of all Business ratings and reviews
                </div>

                <!-- <div class="col-6">
                    <button class="btn btn-sm btn-primary rightBtns" type="button" (click)="openModal(addBusiness)">
                        <i class="fa fa-plus"></i>&nbsp;Add Business
                    </button>
                </div> -->
            </div>
           
            <div class="card-body">

                <mat-tab-group>
                    <mat-tab label="Verified Business Ratings"> 
                    <br/>
                           
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Business Logo</th>
                                <th scope="col">Business Name</th>
                                <th scope="col">Rating</th>
                                <th scope="col">Rated By</th>
                                <th scope="col">Status</th>
                                <th scope="col">Update Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let res of ratingList; index as i">
                                <td>
                                    <div class="circular_image_container symbol symbol-50px me-5">
                                        <img src="{{res.business_logo}}" alt="business logo"/>
                                    </div>
                                </td>
                                <td>{{res.business_name}}</td>
                                <td>{{res.rating}} stars</td>                
                                <td>{{res.submitted_by}}</td>
                                <td>
                                    <span class="badge badge-sm badge-success" *ngIf="res.status === false">Active</span>
                                    <span class="badge badge-sm badge-danger" *ngIf="res.status === true">Deleted</span>
                                </td>
                                <td>
                                    <div class="button_containers">   
                                        <button type="button" [disabled] class="btn btn-sm btn-info" (click)="openModal(viewRatingModal, 'lg', 'verified', res)"><i class="fa fa-eye"></i> View Details</button> &nbsp;
                                        <button type="button" class="btn btn-sm btn-danger" *ngIf="res.status === false" (click)="openModal(deleteVerifiedRating, 'md', 'verified', res)"><i class="fa fa-close"></i> Delete</button>
                                    </div>
                                </td>
                            </tr>

                            <tr *ngIf="verifiedRatingCount == 0">
                                <td colspan="6" class="no_data_display">
                                    No data available for display
                                </td>
                            </tr>

                            </tbody>
                            </table>
                        </div>

                    </mat-tab>

                    <mat-tab label="Pending Verification: {{pendingRatingsCount}} Rating(s)">
                        <br/>
                               
                            <div class="table-responsive">
                                <table datatable [dtOptions]="ptOptions" [dtTrigger]="ptTrigger" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Business Name</th>
                                        <th scope="col">Rating Awarded</th>
                                        <th scope="col">Review</th>
                                        <th scope="col">Submitted By</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr *ngFor="let res of pendingRatingsList; index as i">
                                            <td>
                                                <div class="circular_image_container symbol symbol-50px me-5">
                                                    <img src="{{res.business_logo}}" alt="business logo"/>
                                                </div>
                                            </td>
                                            <td>{{res.business_name}}</td>
                                            <td>{{res.rating}} stars</td>                
                                            <td>{{res.submitted_by}}</td>
                                            <td>
                                                <div class="button_containers">   
                                                    <button type="button" class="btn btn-sm btn-primary" (click)="openModal(viewPendingReviewModal, 'lg', 'pending', res)"><i class="fa fa-edit"></i> Review</button> &nbsp; 
                                                </div>
                                            </td>
                                        </tr>

                                        <tr *ngIf="pendingRatingsCount == 0">
                                            <td colspan="5" class="no_data_display">
                                                No data available for display
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                    </mat-tab>

                    <mat-tab label="Rejected: {{rejectedRatingsCount}} Rating(s)">
                        <br/>
                               
                            <div class="table-responsive">
                                <table datatable [dtOptions]="rtOptions" [dtTrigger]="rtTrigger" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Business Name</th>
                                        <th scope="col">Rating Awarded</th>
                                        <th scope="col">Review</th>
                                        <th scope="col">Submitted By</th>
                                        <th scope="col">Rejected By</th>
                                        <th scope="col">Review</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr *ngFor="let res of rejectedRatingsList; index as i">
                                            <td>
                                                <div class="circular_image_container symbol symbol-50px me-5">
                                                    <img src="{{res.business_logo}}" alt="business logo"/>
                                                </div>
                                            </td>
                                            <td>{{res.business_name}}</td>
                                            <td>{{res.rating}} stars</td>                
                                            <td>{{res.submitted_by}}</td>
                                            <td>{{res.verified_by}}</td>
                                            <td>
                                                <div class="button_containers">   
                                                    <button type="button" [disabled] class="btn btn-sm btn-info" (click)="openModal(viewRatingModal, 'lg', 'rejected', res)"><i class="fa fa-eye"></i> View Details</button> &nbsp;
                                                </div>
                                            </td>
                                        </tr>

                                        <tr *ngIf="rejectedRatingsCount == 0">
                                            <td colspan="6" class="no_data_display">
                                                No data available for display
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                    </mat-tab>

                </mat-tab-group>
               
            </div>
        </div>
      
	</div>
</div>

<!-- Modals -->

  <ng-template #viewRatingModal let-modal>

    <div class="modal-header alert alert-success">
      <h4 class="modal-title" id="modal-edit-title">{{ratingModalData?.business_name}}'s Rating</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body default-calendar">

        <!-- display profile -->
        <div class="row">
			<div class="col-lg-12">
				<div class="profile card card-body px-3 pt-3 pb-0">
					<div class="profile-head">
						<div class="photo-content">
							<div class="cover-photo"></div>
						</div>
						<div class="profile-info">
							<div class="circular_business_image_container symbol symbol-50px me-5">
								<img src="{{ratingModalData?.business_logo}}" class="img-fluid rounded-circle" alt="">
							</div>
							<div class="profile-details">
								<div class="profile-name px-3 pt-2">
									<h4 class="text-primary mb-0">{{ratingModalData?.business_name}}</h4>
								</div>
								<div class="profile-email px-2 pt-2">
									<h4 class="text-muted mb-0">Business Review</h4>
									<p>{{ratingModalData?.review}}</p>
								</div>
								
							</div>
						</div>
					</div> <hr>

                    <!-- Advert Details -->
                    <div class="row">
                        <div class="col-12">               
                            <label class="text-muted mb-2">Rating Information</label>
                            <p class="fs-6">
                                <b> Rating Awarded: </b>
                                
                                <ng-template #t let-fill="fill">
                                    <span class="star" [class.filled]="fill === 100">
                                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                    </span>
                                  </ng-template>
                                  
                                <ngb-rating [(rate)]="approvedRating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating> ({{ratingModalData?.rating}})  

                            </p>
                            <p class="fs-6" *ngIf="ratingModalData?.rev_status != 'rejected'">
                                <b> Total Reviews: </b> {{ratingModalData?.total_ratings}} reviews
                           </p>
                           <p class="fs-6">
                                <b> Rated By: </b>{{ratingModalData?.submitted_by}}
                            </p>
                            <p class="fs-6" *ngIf="ratingModalData?.rev_status != 'rejected'">
                                <b> Verified By: </b>{{ratingModalData?.verified_by}}
                            </p>
                            <i class="fs-3" *ngIf="ratingModalData?.verified_by == 'System Automated'">If a review is not given, the system automatically verifies the rating solely</i>
                          
                            <p class="fs-6" *ngIf="ratingModalData?.rev_status == 'rejected'">
                                <b> Rejected By: </b>{{ratingModalData?.verified_by}}
                           </p>

                            <p class="fs-6" *ngIf="ratingModalData?.rev_status == 'rejected'">
                                <b> Reason for Rejection </b> <br/> {{ratingModalData?.reason}}
                           </p>
                        </div>
                    </div>

				</div>
			</div>
		</div>
        
        <div class="modal-footer">
            <button class="btn btn-block btn-md btn-primary" type="button" aria-label="Close" (click)="modal.dismiss('Cross click')">
                Close
            </button>
        </div>
    </div>
  </ng-template>

  <ng-template #viewPendingReviewModal let-modal>
    <div class="modal-header alert alert-success">
      <h4 class="modal-title" id="modal-edit-title">{{ratingModalData?.business_name}}'s Rating</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body default-calendar">

        <!-- display profile -->
        <div class="row">
			<div class="col-lg-12">
				<div class="profile card card-body px-3 pt-3 pb-0">
					<div class="profile-head">
						<div class="photo-content">
							<div class="cover-photo"></div>
						</div>
						<div class="profile-info">
							<div class="circular_business_image_container symbol symbol-50px me-5">
								<img src="{{ratingModalData?.business_logo}}" class="img-fluid rounded-circle" alt="">
							</div>
							<div class="profile-details">
								<div class="profile-name px-3 pt-2">
									<h4 class="text-primary mb-0">{{ratingModalData?.business_name}}</h4>
								</div>
								<div class="profile-email px-2 pt-2">
									<h4 class="text-muted mb-0">Business Review</h4>
									<p>{{ratingModalData?.review}}</p>
								</div>
								
							</div>
						</div>
					</div>

                    <hr>

                    <!-- Advert Details -->
                    <div class="row">
                        <div class="col-12">               
                            <label class="text-muted mb-2">Rating Details</label>
                            <p class="fs-6">
                                <b> Rating Awarded: </b>

                                <ng-template #t let-fill="fill">
                                    <span class="star" [class.filled]="fill === 100">
                                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                    </span>
                                  </ng-template>
                                  
                                <ngb-rating [(rate)]="pendingRating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating> {{ratingModalData?.rating}}  
                            </p>
                            <p class="fs-6">
                                <b> Rated By: </b>{{ratingModalData?.submitted_by}}
                            </p>
                        </div>
                    </div>

				</div>
			</div>
		</div>

        <p class="text-muted text-center">Review Rating</p>
        <div class="button_row">
            <button type="button" class="btn btn-sm btn-success" (click)="modal.dismiss('Cross click')" (click)="reviewModal(verifyAd, ratingModalData)"><i class="fa fa-check"></i> Verify</button> &nbsp;
            <button type="button" class="btn btn-sm btn-danger"  (click)="modal.dismiss('Cross click')"  (click)="reviewModal(rejectReviewModal, ratingModalData)"><i class="fa fa-close"></i> Reject</button>
        </div>

        <div class="modal-footer">
            <button class="btn btn-block btn-md btn-primary" type="button" aria-label="Close" (click)="modal.dismiss('Cross click')">
                Cancel
            </button>
        </div>
        
    </div>
  </ng-template>

  <ng-template #deleteVerifiedRating let-modal>
    <div class="modal-header alert alert-danger">
      <h4 class="modal-title" id="modal-del-title">Delete Rating</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body default-calendar">
      <form #deactivForm="ngForm">        
        <input type="hidden" name="id" ngModel="{{ratingModalData?.id}}" value="{{ratingModalData?.id}}">
        <p>Are you sure you want to delete <b>{{ratingModalData?.business_name}}'s Rating</b>?</p>
      </form>

       <!-- message -->
       <div *ngIf="messageResponse" class="row alert alert-info">
        <p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" (click)="modal.close('Close click')">No</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="deleteRating(deactivForm.value)">Yes</button>
    </div>
  </ng-template>
    
  <ng-template #verifyAd let-modal>
    <div class="modal-header alert alert-danger">
      <h4 class="modal-title" id="modal-del-title">Verify Rating</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body default-calendar">
      <form #verifyForm="ngForm">        
        <input type="hidden" name="id" ngModel="{{ratingModalData?.id}}" value="{{ratingModalData?.id}}">
        <p>Are you sure you want to verify {{ratingModalData?.rating}} stars for <b>{{ratingModalData?.business_name}}</b>?</p>

        <label>
           <b>Review:</b> "{{ratingModalData?.review}}"
        </label>
      </form>

       <!-- message -->
       <div *ngIf="messageResponse" class="row alert alert-info">
        <p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" (click)="modal.close('Close click')">No</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="verifyRating(verifyForm.value)">Yes</button>
    </div>
  </ng-template>

  <ng-template #rejectReviewModal let-modal>
    <div class="modal-header alert alert-danger">
      <h4 class="modal-title" id="modal-del-title">Reject Rating</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body default-calendar">
      <form #rejectForm="ngForm">       
        
        <input type="hidden" name="id" ngModel="{{ratingModalData?.id}}" value="{{ratingModalData?.id}}">
        <p>Are you sure you want to reject <b>{{ratingModalData?.business_name}}'s</b> Rating of {{ratingModalData?.rating}} stars?</p>

        <div class="form-group">
            <label>Reason for rejection</label>
            <textarea class="form-control" rows="4" name="reason" ngModel placeholder="Please specify why you want to reject this rating"></textarea>
        </div>
        
      </form>

       <!-- message -->
       <div *ngIf="messageResponse" class="row alert alert-info">
        <p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" (click)="modal.close('Close click')">No</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="rejectRating(rejectForm.value)">Yes</button>
    </div>
  </ng-template>