<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Business Management</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="admin/dashboard">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Business Management</a></li>
                </ol>
            </div>
        </div>

        <!-- Parameters -->
        <div class="row">
            <div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
                <div class="widget-stat card">
                    <div class="card-body p-4">
                        <div class="media ai-icon">
                            <span class="mr-3 bgl-primary text-primary">
                                <!-- <i class="ti-user"></i> -->
                                <svg id="icon-customers" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">Total Businesses</p>
                                <h4 class="mb-0">{{businessCount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
                <div class="widget-stat card">
                    <div class="card-body p-4">
                        <div class="media ai-icon">
                            <span class="mr-3 bgl-warning text-warning">                    
                                <svg id="icon-orders" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg>
                            </span>
                            <div class="media-body">
                                <p class="mb-1">Businesses pending verification</p>
                                <h4 class="mb-0">{{pendingbusinessCount}}</h4> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
                <div class="widget-stat card">
                    <div class="card-body  p-4">
                        <div class="media ai-icon">
                            <span class="mr-3 bgl-success text-success">
                                <svg id="icon-database-widget" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database">
                                    <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                                    <path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path>
                                    <path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path>
                                </svg> 
                            </span>
                            <div class="media-body">
                                <p class="mb-1">Total Products</p>
                                <h4 class="mb-0">{{productsCount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

        <!-- Main Content -->
        <div class="card">
            <div class="card-header">
                <div class="col-6">
                    List of all businesses
                </div>

                <!-- <div class="col-6">
                    <button class="btn btn-sm btn-primary rightBtns" type="button" (click)="openModal(addBusiness)">
                        <i class="fa fa-plus"></i>&nbsp;Add Business
                    </button>
                </div> -->
            </div>
           
            <div class="card-body">

                <mat-tab-group>
                    <mat-tab label="Verified Business Profiles"> 
                    <br/>
                           
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Business Logo</th>
                                <th scope="col">Name</th>
                                <th scope="col">Owner</th>
                                <th scope="col">Assembly</th>
                                <th scope="col">Registration Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Update Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let res of businesses; index as i">
                                <!-- <th scope="row">{{ i + 1 }}</th>		 -->
                                <td>
                                    <div class="circular_image_container symbol symbol-50px me-5">
                                        <img src="{{res.business.logo}}" alt="business logo"/>
                                    </div>
                                </td>
                                <td>{{res.business.name}}</td>
                                <td>{{res.business.owner.name}}</td>
                                <td>{{res.business.owner.assembly}}</td>
                                <td>{{res.business.joinDate | date:'mediumDate'}}</td>
                                <td>
                                    <span *ngIf="res.business.status === true" class="badge badge-success">Active</span>
                                    <span *ngIf="res.business.status === false" class="badge badge-danger">Inactive</span>
                                </td>
                                <td>
                                    <div class="button_containers">                                        
                                        <button type="button" class="btn btn-sm btn-info" (click)="reviewUpdateModal(viewBusinessModal, res)">
                                            <i class="fa fa-eye"></i> View Details
                                        </button> &nbsp;
                                        <button type="button" [disabled] class="btn btn-sm btn-success" (click)="reviewUpdateModal(editBusiness, res)"><i class="fa fa-edit"></i> Edit</button> &nbsp;
                                        <button type="button" *ngIf="res.business.status === true" class="btn btn-sm btn-danger" (click)="reviewModal(deactivateBusiness, res)"><i class="fa fa-close"></i> Deactivate</button>
                                        <button type="button" *ngIf="res.business.status === false" class="btn btn-sm btn-success" (click)="reviewModal(activateBusiness, res)"><i class="fa fa-refresh"></i> Activate</button>
                                    </div>
                                </td>
                            </tr>

                            <tr *ngIf="businessCount == 0">
                                <td colspan="7" class="no_data_display">
                                    No data available for display
                                </td>
                            </tr>

                            </tbody>
                            </table>
                        </div>

                    </mat-tab>

                    <mat-tab label="Pending Verification: {{pendingbusinessCount}} Request(s)">
                        <br/>
                               
                            <div class="table-responsive">
                                <table datatable [dtOptions]="ptOptions" [dtTrigger]="ptTrigger" class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Business Logo</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Owner</th>
                                    <th scope="col">Assembly</th>
                                    <th scope="col">Registration Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Update Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let res of pendingBusinesses; index as i">
                                    <!-- <th scope="row">{{ i + 1 }}</th>		 -->
                                    <td>
                                        <div class="circular_image_container symbol symbol-50px me-5">
                                            <img src="{{res.business.logo}}" alt="business logo"/>
                                        </div>
                                    </td>
                                    <td>{{res.business.name}}</td>
                                    <td>{{res.business.owner.name}}</td>
                                    <td>{{res.business.owner.assembly}}</td>
                                    <td>{{res.business.joinDate | date:'mediumDate'}}</td>
                                    <td>
                                        <span *ngIf="res.business.status === true" class="badge badge-success">Active</span>
                                        <span *ngIf="res.business.status === false" class="badge badge-danger">Inactive</span>
                                    </td>
                                    <td>
                                        <div class="button_containers">                                        
                                            <button type="button" class="btn btn-sm btn-info" (click)="reviewUpdateModal(viewBusinessModal, res)">
                                                <i class="fa fa-eye"></i> View Details
                                            </button> &nbsp;
                                            <button type="button" class="btn btn-sm btn-success" (click)="reviewModal(approveBusiness, res)"><i class="fa fa-check"></i> Approve</button>
                                            <button type="button" [disabled]="res.deleteStatus === true" class="btn btn-sm btn-danger" (click)="reviewModal(rejectBusiness, res)"><i class="fa fa-close"></i> Reject</button>
                                        </div>
                                    </td>
                                </tr>

                                <tr *ngIf="pendingbusinessCount == 0">
                                    <td colspan="7" class="no_data_display">
                                        No data available for display
                                    </td>
                                </tr>
                                </tbody>
                                </table>
                            </div>
    
                    </mat-tab>

                </mat-tab-group>
               
            </div>
        </div>
      
	</div>
</div>

<!-- Modals -->
<ng-template #addBusiness let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Member</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body default-calendar">
        <div class="form-validation">
            <form class="form-valide" action="#" method="post" [formGroup]="BusinessRegistration" novalidate>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label" for="fullName">Member Name
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="fullName" formControlName="fullName" placeholder="Enter full names..">
                                <div *ngIf="BusinessRegistration.controls['fullName'].invalid && (BusinessRegistration.controls['fullName'].dirty || BusinessRegistration.controls['fullName'].touched)" class="text-danger fs-13 mt-1">
                                    
                                    <div *ngIf="BusinessRegistration.controls['fullName'].errors.required">
                                        Full name is required.
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label" for="email">Email Address <span
                                class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="email" formControlName="email" placeholder="Your valid email..">
                                <div *ngIf="BusinessRegistration.controls['email'].invalid && (BusinessRegistration.controls['email'].dirty || BusinessRegistration.controls['email'].touched)" class="text-danger fs-13 mt-1">
                                    <div *ngIf="BusinessRegistration.controls['email'].errors.required">
                                        Email is required.
                                    </div>
                                    <div *ngIf="BusinessRegistration.controls['email'].errors.pattern">
                                        Email must be a valid email address.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label" for="assembly">Assembly
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                                <select class="form-control default-select" id="assembly" formControlName="assembly" >
                                    <option value="">Please select an assembly</option>
                                    <option *ngFor="let res of assemblies" value="{{res.id}}">{{res.name}}</option>
                                   
                                </select>
                                <div *ngIf="BusinessRegistration.controls['assembly'].invalid && (BusinessRegistration.controls['assembly'].dirty || BusinessRegistration.controls['assembly'].touched)" class="text-danger fs-13 mt-1">
                                    
                                    <div *ngIf="BusinessRegistration.controls['assembly'].errors.required">
                                        Select at least one assembly.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                      
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label" for="phoneNumber">Phone Number
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="phoneNumber" placeholder="07xxxxx" formControlName="phoneNumber">
                                <div *ngIf="BusinessRegistration.controls['phoneNumber'].invalid && BusinessRegistration.controls['phoneNumber'].length > 10 || BusinessRegistration.controls['phoneNumber'].length < 10
                                     && (BusinessRegistration.controls['phoneNumber'].dirty || BusinessRegistration.controls['phoneNumber'].touched)" class="text-danger fs-13 mt-1">
                                    
                                    <div *ngIf="BusinessRegistration.controls['phoneNumber'].errors.required">
                                        Phone number is required.
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>                            
                        
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label" for="val-password">Password
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input #inputPassword type="password" class="form-control" formControlName="password"  id="password" placeholder="Choose a safe one..">
                                    
                                    <div class="input-group-append show-pass1 ">
                                        <span class="input-group-text "> 
                                            <i class="fa" [ngClass]="{'fa-eye-slash': toggleEye, 'fa-eye': !toggleEye}" (click)="toggleEyeIcon(inputPassword)"></i>
                                        </span>
                                    </div>
                                </div>
                                
                                <div *ngIf="BusinessRegistration.controls['password'].invalid && (BusinessRegistration.controls['password'].dirty || BusinessRegistration.controls['password'].touched)" class="text-danger fs-13 mt-1">
                                    
                                    <div *ngIf="BusinessRegistration.controls['password'].errors.required">
                                        Password is required.
                                    </div>
                                    <div *ngIf="BusinessRegistration.controls['password'].errors.minlength">
                                        Password must be at least 6 characters.
                                    </div>
                                </div>	
                            </div>
                            
                        </div>

                    </div>
        
                </div>
            </form>
        </div>
        
        <!-- message -->
        <div *ngIf="messageResponse" class="row alert alert-info">
            <p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="BusinessRegistration.pristine || BusinessRegistration.invalid" (click)="saveMember()">Save</button>
    </div>
  </ng-template>

  <ng-template #viewBusinessModal let-modal>
    <div class="modal-header alert alert-success">
      <h4 class="modal-title" id="modal-edit-title">{{businessModalData.business.name}} 's Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body default-calendar">

        <!-- display profile -->
        <div class="row profiler">
			<div class="col-lg-12">
				<div class="profile card card-body px-3 pt-3 pb-0">
					<div class="profile-head">
						<div class="photo-content">
							<div class="cover-photo"></div>
						</div>
						<div class="profile-info">
							<div class="circular_business_image_container symbol symbol-50px me-5">
								<img src="{{businessModalData?.business.logo}}" class="img-fluid rounded-circle" alt="">
							</div>
							<div class="profile-details">
								<div class="profile-name px-3 pt-2">
									<h4 class="text-primary mb-0">{{businessModalData?.business.name}}</h4>
									<p>
                                        <!-- <ngb-rating [(rate)]="currentRate" [max]="5" [readonly]="true"></ngb-rating> {{currentRate}} <br/> -->

                                        <ng-template #t let-fill="fill">
                                            <span class="star" [class.filled]="fill === 100">
                                              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                            </span>
                                          </ng-template>
                                          
                                        <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating> ({{currentRate}}) <br/>                                          
                                        {{businessModalData?.business.reviews}} reviews
                                    </p>
								</div>
								<div class="profile-email px-2 pt-2">
									<h4 class="text-muted mb-0">{{businessModalData?.business.category}}</h4>
									<p>{{businessModalData?.business.nature}}</p>
								</div>
								
							</div>
						</div>
					</div> <hr/>

                    <!-- Business Details -->
                    <div class="row">
                        <div class="col-6">               
                            <label class="text-muted mb-2">Business Details</label>
                            <p class="fs-6">
                                <b> Owned By: </b>{{businessModalData?.business.owner.name}}
                            </p>
                            <p class="fs-6">
                                <b> Assembly: </b> {{businessModalData?.business.owner.assembly}}
                            </p>
                            <p class="fs-6">
                                <b> Registration Date: </b>{{businessModalData.business.joinDate | date:'longDate'}}
                           </p>
                        </div>

                        <div class="col-6">
                            <label class="text-muted mb-2">Contact Information</label>
                           
                            <p class="fs-3">
                                <b> Phone Number(s)</b> <br/> 0722590563, 07265482822
                            </p>
                            <p class="fs-3">
                                <b> Email(s)</b> <br/> business@biz.ke
                            </p>
                            <p class="fs-3"><b>Social Links</b></p>

                                <div class="social-media">
                                    <a *ngFor="let social of social_link" title="{{social.title}}" href="{{social.link}}" 
                                    class="btn btn-outline-primary btn-rounded btn-sm {{social.icon_class}}" target="_blank"></a> &nbsp;
                                </div>

                        </div>
                    </div>

                    <!-- business images -->
                    <div class="row">
                        <div class="col-12">
                            <label class="text-muted mb-2">Business Images</label>
                            <div class="container image_container">
                                <img src="assets/images/product/fries.jpg" alt="advert image"/>
                            </div>
                        </div>
                    </div>

				</div>
			</div>
		</div>
        
        <div class="modal-footer">
            <button class="btn btn-block btn-md btn-primary" type="button" aria-label="Close" (click)="modal.dismiss('Cross click')">
                Close
            </button>
        </div>
    </div>
  </ng-template>

  <ng-template #editBusiness let-modal>
    <div class="modal-header alert alert-success">
      <h4 class="modal-title" id="modal-edit-title">Edit Business</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body default-calendar">
        <form class="form" #editForm="ngForm" autocomplete="on">
            <div class="row g-3">

                <div class="col-xl-6">
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="fullNameEdit">Business Name
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                            <input type="hidden" name="id" ngModel="{{businessModalData?.id}}" value="{{businessModalData?.id}}">
                            <input type="text" class="form-control" id="fullNameEdit" name="full_name" ngModel="{{businessModalData?.business.name}}" value="{{businessModalData?.business.name}}">
                        </div>                        
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="assembly">Assembly
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                            <select class="form-control" name="assemblyUpdate" ngModel="{{businessModalData?.business.owner.assemblyId}}" value="{{businessModalData?.business.owner.assemblyId}}">                                
                                <option value="">Please select an assembly</option>
                                <option *ngFor="let res of assemblies" value="{{res.id}}">{{res.name}}</option>
                            </select>                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                  
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="">Description
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">                           
                            <textarea rows="4" class="form-control" name="nature" ngModel="{{businessModalData?.business.nature}}" value="{{businessModalData?.business.nature}}">{{businessModalData?.business.nature}}</textarea>
                            <!-- <i *ngIf="phoneValidationMessage" style="color:red">The phone number entered is not valid, format is 0xxxx and maximum length of 10 numbers</i>  -->
                        </div>
                    </div>                            
                    
                </div>
            </div>
            <!-- message -->
            <div *ngIf="messageResponse" class="row alert alert-info">
                <p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Cancel</button>
              <button type="submit" [disabled]="validity" id="register" class="btn btn-primary" >Save</button>
            </div>
          </form>
    </div>
  </ng-template>

  <ng-template #deactivateBusiness let-modal>
    <div class="modal-header alert alert-danger">
      <h4 class="modal-title" id="modal-del-title">Deactivate Business</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body default-calendar">
      <form #deactivForm="ngForm">        
        <input type="hidden" name="id" ngModel="{{businessModalData?.business.id}}" value="{{businessModalData?.business.id}}">
        <p>Are you sure you want to deactivate <b>{{businessModalData.business.name}}</b>?</p>
      </form>

       <!-- message -->
       <div *ngIf="messageResponse" class="row alert alert-info">
        <p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" (click)="modal.close('Close click')">No</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="deactivateBusinessAction(deactivForm.value)">Yes</button>
    </div>
  </ng-template>

  <ng-template #activateBusiness let-modal>
    <div class="modal-header alert alert-success">
      <h4 class="modal-title" id="modal-del-title">Activate Business</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body default-calendar">
      <form #activForm="ngForm">        
        <input type="hidden" name="id" ngModel="{{businessModalData?.business.id}}" value="{{businessModalData?.business.id}}">
        <p>Are you sure you want to activate <b>{{businessModalData.business.name}}</b>?</p>
      </form>

      <!-- message -->
      <div *ngIf="messageResponse" class="row alert alert-info">
        <p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" (click)="modal.close('Close click')">No</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="activateBusinessAction(activForm.value)">Yes</button>
    </div>
  </ng-template>
  
  <ng-template #approveBusiness let-modal>
    <div class="modal-header alert alert-success">
      <h4 class="modal-title" id="modal-del-title">Approve {{businessModalData?.business.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body default-calendar">
      <form #approvalForm="ngForm">        
        <input type="hidden" name="id" ngModel="{{businessModalData?.business.id}}" value="{{businessModalData?.business.id}}">
        <p>Are you sure you want to approve <b>{{businessModalData?.business.name}}</b>?</p>
      </form>

      <!-- message -->
      <div *ngIf="messageResponse" class="row alert alert-info">
        <p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" (click)="modal.close('Close click')">No</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="approveBusinessAction(approvalForm.value)">Yes</button>
    </div>
  </ng-template>

  <ng-template #rejectBusiness let-modal>
    <div class="modal-header alert alert-danger">
      <h4 class="modal-title" id="modal-del-title">Reject {{businessModalData?.business.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body default-calendar">
      <form #rejectForm="ngForm">        
        <input type="hidden" name="id" ngModel="{{businessModalData?.business.id}}" value="{{businessModalData?.business.id}}">
        <p>Are you sure you want to reject <b>{{businessModalData?.business.name}}</b>?</p>
      </form>

      <!-- message -->
      <div *ngIf="messageResponse" class="row alert alert-info">
        <p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
      </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" (click)="modal.close('Close click')">No</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="revokeBusinessAction(rejectForm.value)">Yes</button>
    </div>
  </ng-template>
    