<div class="card" >
    <div class="card-header border-0 pb-0">
        <h4 class="card-title">Top 5 Businesses for the month of <b>January</b></h4>
    </div>
    <div class="card-body">
        <div class="widget-media best-doctor">
            <ul class="timeline dz-scroll height630" id="bestDoctorsContent" [perfectScrollbar]>
                <li *ngFor="let item of data; let i = index">
                    <div class="timeline-panel">
                        <div class="media mr-4">
                            <img alt="image" width="90" src="{{item.image}}">
                            <div class="number">#{{i}}</div>
                        </div>
                        <div class="media-body">
                            <a routerLink="/{{item.url}}" ><h4 class="mb-2">{{item.name}}</h4></a>
                            <p class="mb-2 text-primary">{{item.specialist}}</p>
                            <div class="star-review">
                                <i *ngFor="let ratings of item.ratings_class " class="{{ratings.icon_class}}" ></i>
                                <span class="ml-3">{{item.total_reviews}}</span>
                            </div>
                        </div>
                        <!-- <div class="social-media">
                            <a *ngFor="let social of item.social_link" title="{{social.title}}" href="{{social.link}}" class="btn btn-outline-primary btn-rounded btn-sm {{social.icon_class}}" target="_blank"></a>
                        </div> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="card-footer text-center border-0 pt-0">
        <a class="btn-link dz-load-more" id="bestDoctors" href="javascript:void(0);" (click)="add_doc()">
            See More >><i class="fa fa-refresh dz-loadmore-icon" [ngClass]="{'d-none': !toggleLoadMore, '': toggleLoadMore}" ></i>
            
            </a>
        
    </div> -->
</div>