<div class="authincation h-100">
    <div class="container vh-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a [routerLink]="['/admin/index']"><img class="home-logo" src="assets/images/cbf.png" alt="logo"></a>
                                </div>
                                <h4 class="text-center mb-4">Forgot Password</h4>

                                <!-- Message Container -->
                                <div class="row alert alert-success" *ngIf="successAlert === true">
                                    <p class="fs-8 text-muted"> <i class="fa fa-handshake-o"></i>&nbsp; Password reset request sent successfully, 
                                        kindly check your email inbox.
                                    </p>
                                </div>
                                <div class="row alert alert-danger" *ngIf="alertMessage">
                                        <p class="fs-8 text-muted"> <i class="fa fa-exclamation-triangle"></i>&nbsp; {{alertMessage}}</p>
                                </div>
                                <!-- Message Container -->
                                
                                <p class="text-muted">Please provide your email address to receive the password reset request</p>
                                
                                <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordFormGroup" autocomplete="off">
                                    <div class="form-group">
                                        <label><strong>Email</strong></label>
                                        <input type="email" class="form-control" formControlName="email" #emailEntry value="Johnstone90@cbf.com" (change)="validateEmail(emailEntry.value)">
                                        <i *ngIf="emailValidationMessage" style="color:red">The email address entered is not valid</i>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" [disabled]="!validity" class="btn btn-primary btn-block">Reset Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>