<div class="authincation h-100">
        <div class="container vh-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a [routerLink]="['/admin/index']"><img class="home-logo" src="assets/images/cbf.png" alt=""></a>
									</div>
                                    <h4 class="text-center mb-4">Sign up your account</h4>

                                    <!-- Message Container -->
                                    <div class="row alert alert-success" *ngIf="successAlert === true">
                                        <p class="fs-8 text-muted"> <i class="fa fa-handshake-o"></i>&nbsp; Registration successful, 
                                            kindly wait for your account to be verified. Thank you.</p>
                                    </div>
                                    <div class="row alert alert-danger" *ngIf="alertMessage">
                                        <p class="fs-8 text-muted"> <i class="fa fa-exclamation-triangle"></i>&nbsp; {{alertMessage}}</p>
                                    </div>
                                    <!-- Message Container -->
                                    
                                    <form class="form" [formGroup]="registerForm" autocomplete="off" (ngSubmit)="registerUser()">
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Full Name</strong></label>
                                            <input type="text" class="form-control" placeholder="Enter your full names..." formControlName="full_name"  
                                            [ngClass]="{
                                                'is-invalid': registerForm.controls['full_name'].invalid,
                                                'is-valid': registerForm.controls['full_name'].valid
                                              }" />
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Email</strong></label>
                                            <input type="email" #emailEntry class="form-control" placeholder="hello@example.com" formControlName="email" [ngClass]="{
                                                'is-invalid': registerForm.controls['email'].invalid,
                                                'is-valid': registerForm.controls['email'].valid
                                              }" (input)="validateEmail(emailEntry.value)"/>
                                            <i *ngIf="emailValidationMessage" style="color:red">The email address entered is not valid</i>
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Phone Number</strong></label>
                                            <input type="number" #phoneEntry class="form-control" placeholder="07xxxxx" formControlName="phoneNumber" [ngClass]="{
                                                'is-invalid': registerForm.controls['phoneNumber'].invalid,
                                                'is-valid': registerForm.controls['phoneNumber'].valid
                                              }" (input)="validatePhone(phoneEntry.value)"/>
                                              <i *ngIf="phoneValidationMessage" style="color:red">The phone number entered is not valid, format is 0xxxx and maximum length of 10 numbers</i> 
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Password</strong></label>
                                              <input type="password" #pass_One class="form-control" name="password" autocomplete="off"
                                              formControlName="password" (input)="checkPasswordEntry(pass_One.value)" [ngClass]="{
                                                'is-invalid': registerForm.controls['password'].invalid,
                                                'is-valid': registerForm.controls['password'].valid
                                              }" />
                                        </div>
                                        <div class="form-group" *ngIf="confirmPassword">
                                            <label class="mb-1"><strong>Confirm Password</strong></label>
                                            <input type="password" #pass_Two class="form-control" name="password_confirmed" autocomplete="off"
                                            formControlName="password_confirmed" (input)="confirmPassEntries(pass_Two.value)" [ngClass]="{
                                              'is-invalid': registerForm.controls['password_confirmed'].invalid,
                                              'is-valid': registerForm.controls['password_confirmed'].valid
                                            }" />    

                                        </div>  
                                        <i *ngIf="passwordIncorrect" style="color:red">Passwords do not match, kindly try again</i>                                       
                                        <i *ngIf="passwordLength" style="color:red">Please ensure your password has at least 8 characters</i>                                       

                                        <div class="text-center mt-4">
                                            <button type="submit" [disabled]="!validity" class="btn btn-primary btn-block">Sign me up</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <!-- <p>Already have an account? <a class="text-primary" [routerLink]="['/login']">Sign in</a></p> -->
                                        <p>Already have an account? <a class="text-primary" [routerLink]="['/login']">Sign in</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>