<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Events Form Responses</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="admin/dashboard">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Events Form Responses</a></li>
                </ol>
            </div>
        </div>



        <!-- Main Content -->
        <div class="card">
            <div class="card-header">
                <div class="col-6">
                   Form Resposes
                </div>

                <!-- <div class="col-6">
                    <button class="btn btn-sm btn-primary rightBtns" type="button" (click)="addForms(addForm)">
                        <i class="fa fa-plus"></i>&nbsp;Add Custom Form
                    </button>
                </div> -->
            </div>

         
                <div class="card-body">
                    <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-stripped">
                        <thead>
                          <tr>
                            <th class="wd-15p border-bottom-0">Form Name</th>
                          <th class="wd-15p border-bottom-0">Total Responses</th>


                            <th class="wd-15p border-bottom-0">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
          
                          <tr *ngFor="let item of customFeedbacks">
          
                            <td>{{item.name}}</td>
                            <td>{{item.response_count}}</td>

          
                            <td>
                              <div class="d-flex flex-row">
                                  <a href="/admin/user-responses?gidb64={{item.id}}"><button type="button" class="btn btn-info btn-sm">view </button></a>
          
                              </div>
          
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>


        </div>

    </div>
</div>


<!-- <ng-template #viewForm let-modal>
    <div class="modal-header bg-info">
        <h5 class="modal-title" id="">{{customFormName}} Form</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div >

      <div class="modal-body">
        <div class="row row-sm">
            <div class="col-xl-12 col-lg-6 col-md-6 col-xm-12">
              <div class="card">
                <div class="container">
                <div class="card-header pb-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title mg-b-0">Form Responses</h3>
                  </div>
                  <p class="tx-12 tx-gray-500 mb-2">List of all responses</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive" >
                    <table datatable [cfOptions]="cfOptions" [cfTrigger]="cfTrigger" class="row-border hover">
                      <thead>
                        <tr>
                            <th>Full Name</th>
                            <th *ngFor="let detail of responses">
                                {{detail.title}}
                            </th>
                            <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>

                       <tr *ngFor="let item of customFormDetails">

                          <td>{{item.full_name}}</td>
                          <td *ngFor="let resp of item.response">{{resp.response}}</td>

                          <td>
                            <div class="d-flex flex-row">
                               <a> <button type="button" class="btn btn-info btn-sm" data-toggle="modal">view </button></a>
                              </div>
                          </td>
                        </tr>
                        <tr *ngIf="forms_count == 0">
                          <td colspan="6" class="no_data_display">
                              No data available for display
                          </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div>
                </div>
              </div>
              </div>
            </div>
          </div>
      </div>
  </ng-template> -->


  <!-- <ng-template #deleteItem let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="viewThemeDelLabel">Delete Form Item</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body default-calendar">
      <form #deleteForm="ngForm">
        <div class="form-group row">
          <div class="col-sm-12">
            <input type="hidden" name="id" ngModel="{{customItemModalData?.id}}" value="{{customItemModalData?.id}}">
            <p>Are you sure you want to delete this form item </p>
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-md" (click)="deleteData(deleteForm.value)"
            data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-secondary btn-md" (click)="modal.dismiss()">No</button>
        </div>
      </form>
    </div>
  </ng-template> -->


  