<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Custom Form Responses</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="admin/dashboard">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Custom Form Responses</a></li>
                </ol>
            </div>
        </div>



        <!-- Main Content -->
        <div class="card">
            <div class="card-header">
                <div class="col-6">
                   Form Response(s)
                </div>

                <!-- <div class="col-6">
                    <button class="btn btn-sm btn-primary rightBtns" type="button" (click)="addForms(addForm)">
                        <i class="fa fa-plus"></i>&nbsp;Add Custom Form
                    </button>
                </div> -->
            </div>

         
                <div class="card-body">
                    <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-stripped">
                        <thead>
                          <tr>
                            <th class="wd-15p border-bottom-0">Form Name</th>
                            <th class="wd-15p border-bottom-0">Total Responses</th>
                            <th class="wd-15p border-bottom-0">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
          
                          <tr *ngFor="let item of customFeedbacks">
          
                            <td>{{item.name}}</td>
                            <td>{{item.response_count}}</td>          
                            <td>
                              <div class="d-flex flex-row">
                                <button type="button" class="btn btn-info btn-sm" (click)="redirectMe(item)"> 
                                  <i class="fa fa-eye"></i>&nbsp;View </button>          
                              </div>          
                            </td>

                          </tr>

                          <tr *ngIf="customFeedbacks.length == 0">
                            <td colspan="3" class="no_data_display">
                                No data available for display
                            </td>
                        </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
          </div>

    </div>
</div>  