<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
	<div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi {{loginName}}!</h4>
                    <p class="mb-0">Profile Management</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="admin/dashboard">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Profile</a></li>
                </ol>
            </div>
        </div>
		<!-- row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="profile card card-body px-3 pt-3 pb-0">
					<div class="profile-head">
						<div class="photo-content">
							<div class="cover-photo"></div>
						</div>
						<div class="profile-info">
							<div class="profile-photo">
								<img src="{{profilePic}}" class="img-fluid rounded-circle" alt="">
							</div>
							<div class="profile-details">
								<div class="profile-name px-3 pt-2">
									<h4 class="text-primary mb-0">{{loginName}}</h4>
									<p>
										System Admin
										<!-- <span *ngIf="role != 'Not Assigned">{{role}}</span>
										<span *ngIf="role == 'Not Assigned">System Admin</span> -->
									</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4">
				<div class="row">
					
					<div class="card stats">
						<div class="card-body">
							<div class="profile-statistics">
								<div class="text-center">
									<div class="row">
										<div class="col">
											<h3 class="m-b-0">{{biz_count}}</h3><span>Businesses</span>
										</div> 
									</div> <br/><hr>
									<div class="row">
										<div class="col">
											<h3 class="m-b-0">{{rating_count}}</h3><span>Ratings</span>
										</div>
									</div> <br/><hr>
									<div class="row">
										<div class="col">
											<h3 class="m-b-0">{{review_count}}</h3><span>Reviews</span>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>	

				</div>
			</div>
			<div class="col-xl-8">
				<div class="card">
					<div class="card-body">
						<div class="profile-tab">
							<div class="custom-tab-1">
								<ul class="nav nav-tabs" ngbNav #nav="ngbNav" >
									
									<li class="nav-item" ngbNavItem="about-me"><a href="#about-me" data-toggle="tab" class="nav-link" ngbNavLink>About Me</a>
										<ng-template ngbNavContent>
											<div id="about-me" class="tab-pane">
												<br>
												<div class="profile-about-me" *ngIf="userExists === false">
													<div class="pt-4 border-bottom-1 pb-3">
														<p class="mb-2">{{userRespMsg}}</p>
													</div>
												</div>
												
												<div class="profile-personal-info" *ngIf="userExists === true">
													<h4 class="text-primary mb-4">Personal Information</h4>
													<div class="row mb-2">
														<div class="col-sm-3 col-5">
															<h5 class="f-w-500">Name <span class="pull-right">:</span>
															</h5>
														</div>
														<div class="col-sm-9 col-7"><span>{{loginName}}</span>
														</div>
													</div>
													<div class="row mb-2">
														<div class="col-sm-3 col-5">
															<h5 class="f-w-500">Email <span class="pull-right">:</span>
															</h5>
														</div>
														<div class="col-sm-9 col-7"><span>{{loginEmail}}</span>
														</div>
													</div>
													<div class="row mb-2">
														<div class="col-sm-3 col-5">
															<h5 class="f-w-500">Phone Number <span class="pull-right">:</span>
															</h5>
														</div>
														<div class="col-sm-9 col-7"><span>{{loginPhone}}</span>
														</div>
													</div>
													<div class="row mb-2">
														<div class="col-sm-3 col-5">
															<h5 class="f-w-500">Membership Status <span class="pull-right">:</span></h5>
														</div>
														<div class="col-sm-9 col-7">
															<span *ngIf="memStatus === false" class="badge badge-warning">Non-Member</span>
															<span *ngIf="memStatus === true" class="badge badge-success">Member</span>
														</div>
													</div>
													<div class="row mb-2">
														<div class="col-sm-3 col-5">
															<h5 class="f-w-500">Account Status <span class="pull-right">:</span></h5>
														</div>
														<div class="col-sm-9 col-7">
															<span *ngIf="activeStatus === false" class="badge badge-warning">Inactive</span>
															<span *ngIf="activeStatus === true" class="badge badge-success">Active</span>
														</div>
													</div>
													<!-- <div class="row mb-2">
														<div class="col-sm-3 col-5">
															<h5 class="f-w-500">Year Experience <span class="pull-right">:</span></h5>
														</div>
														<div class="col-sm-9 col-7"><span>07 Year Experiences</span>
														</div>
													</div> -->
												</div>
											</div>
										</ng-template>
										
									</li>
									<li class="nav-item" ngbNavItem="profile-settings"><a href="#profile-settings" data-toggle="tab" class="nav-link" ngbNavLink>Setting</a>
										<ng-template ngbNavContent>
											<div id="profile-settings" class="tab-pane">
                                                <div class="pt-3">
                                                    <div class="settings-form">														
														
                                                        <h4 class="text-primary">Account Setting</h4>
														
														<div class="form-row">
															<div class="form-group col-md-6">
																<div class="image-upload">
																	<label for="file-input">
																	  <img src="{{profilePic}}" class="img-fluid rounded-circle" alt="user logo" />
																	</label>
																  
																	<input id="file-input" type="file" accept="image/*" #output (change)="onChange($event)">																		
																</div>	
																<i class="text-muted">Click on the image to change the picture and the update button</i>														
																
															</div>	
															<div class="form-group col-md-3">
																<button [disabled]="!picAltered" (click)="updateProfPicture()" class="btn btn-success btn-sm">
																	<i class="fa fa-edit"></i> Update Picture
																</button>
															</div>

															<div class="form-group col-md-3">
																<button class="btn btn-sm btn-warning" (click)="resetPassword(loginEmail)">																	
																	<i class="fa fa-refresh"></i> Reset Password
																</button>																
															</div>								
														</div>

														 <!-- message -->
														<div *ngIf="messageResponse" class="row alert alert-info">
															<p><i class="fa fa-exclamation"></i> &nbsp;  {{messageResponse}}</p>
														</div>
														<div *ngIf="alertResponse != ''" class="row alert alert-warning">
															<p><i class="fa fa-exclamation"></i> &nbsp;  {{alertResponse}}</p>
														</div>

                                                        <form #profileManagement="ngForm" > 
															<div class="form-group">
																<label>Name</label>
																<input type="hidden" readonly class="form-control" name="id" ngModel="{{loginId}}" value="{{loginId}}">
																<input type="text" placeholder="enter your name" class="form-control" name="name" ngModel="{{loginName}}" value="{{loginName}}">
															</div>
                                                            <div class="form-group">
																<label>Email</label>
																<input type="email" #emailVal class="form-control" placeholder="enter your email" name="email" ngModel="{{loginEmail}}" value="{{loginEmail}}"  (input)="validateEmail(emailVal.value)"> 
																<i *ngIf="emailValidationMessage" style="color:red">The email address entered is not valid</i>
															</div>                                                           
                                                            <div class="form-group">
                                                                <label>Phone Number</label>
                                                                <input type="number" #phoneVal placeholder="enter your phone number" class="form-control" name="login_phone" ngModel="{{loginPhone}}" value="{{loginPhone}}" (input)="validatePhone(phoneVal.value)">
																<i *ngIf="phoneValidationMessage" style="color:red">The phone number entered is not valid, format is 0xxxx and maximum length of 10 numbers</i>                     
															</div>
                                                            <button class="btn btn-primary" [disabled]="validity" type="submit" (click)="updateProfile(profileManagement.value)">Submit Changes</button>
														</form>
														
													</div>
												</div>
											</div>
										</ng-template>
										
										
									</li>
								</ul>
								
								<div [ngbNavOutlet]="nav" class=""></div>
							</div>
							<!-- Modal -->
							<ng-template #replyModal let-modal>
								
								<div class="modal-header">
									<h4 class="modal-title" id="modal-basic-title">Post Reply</h4>
									<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form>
										<div class="form-group">
											<textarea class="form-control" rows="4">Message</textarea>
										</div>
										<div class="form-group">
											<button type="button" class="btn btn-primary">Reply</button>
										</div>
									</form>
								</div>
							</ng-template>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--**********************************
	Content body end
***********************************-->
